<div class="header">
  <ul>
    <li><%= link_to "Articles", articles_path %></li>
    <li><%= link_to "Categories", categories_path %></li>
    <li><%= link_to "Authors" , authors_path %></li>
    <% if logged_in? %>
      <li id="new-article"><%= link_to "New Article", new_article_path %></li>
    <% end %>
    <% if logged_in? && Author.find(session[:author_id]).admin %>
     <li id="new-category"><%= link_to "New Category", new_category_path %></li>
    <% end %>
    <% if !logged_in? %>
      <p class="login-welcome"><%= link_to "Log in", login_path %></p>
      <p class="sign-up"><%= link_to "Sign Up", register_path %></p>
     <% else %>
      <p class="login-welcome">Weclome <%= Author.find(session[:author_id]).authName %></p>
      <small class="logout-btn"><%= link_to "Log out", logout_path %></small>
    <% end %>
  </ul>
</div>